
$primary: #8764C1;
$secondary: #9638F51A;
$muted: #D3D3D3;
$muted-1: #2B2B2B;
$muted-2: #5A5A5A;
$muted-3: #646464;
$muted-4: #AEAEAE;


$rubik-black: "Rubik-Black", sans-serif;
$rubik-Bold: "Rubik-Bold", sans-serif;
$rubik-Light: "Rubik-Light", sans-serif;
$rubik-Medium: "Rubik-Medium", sans-serif;
$rubik-Regular: "Rubik-Regular", sans-serif;
$rubik-SemiBold: "Rubik-SemiBold", sans-serif;
