
a:link,
a:visited,
a:active {
    text-decoration: none;
}

p,
h3,
h2,
h1,
h4 {
    margin: 0;
}

.container {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

a.active-link {
    color: $muted-1;
    font-family: $rubik-Regular;
}